body {
    background-color: azure;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.blanco {
    background-color: azure;
}

td {
    height: 40px;
    width: 40px;
    background-color: greenyellow;
}

.rosa {
    background-color: lightpink;
}

td:hover {
    background-color: lightpink;
}

.especial {
    background-color: azure;
}

#compras {
    border: 1px solid black;
    border-collapse: unset;
    margin-left: auto;
    margin-right: auto;
}

#compras td, th {
    border: 1px solid black;
    background-color: azure;
}

.negro {
    font-weight: bold;
    background-color: azure;
}

.especial:hover {
    background-color: azure;
}